.achievments-page {
  width:100%;
  background-color: #f2f2f2;
  margin-top: 32px;
  &__text {
  .font-mixin(18px;@header-font;14px;normal);
  color: darken(#db7188, 5%);
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  width: 83%;
  padding-top: 25px;
  }
}
