.buttons-block {

  @media (min-width: @tablet-width) {
    margin-left: 48px;
    margin-top: 66px;

    @media (min-width: @desktop-width) {

      display: flex;
      width: 100%;
      margin-left: 90px;
      margin-top: 153px;
    }
  }
}
