.catalog-checkbox {
  .font-mixin(30px;@header-font;18px;normal);
  padding-left: 20px;
  padding-top:33px;
  &__label {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 11px;
    cursor: pointer;
    padding-bottom: 10px;
    width: 80%;
    padding-left: 57px;
  }
&__input {
  display: none;
  line-height: 30px;
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
}
&__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -6px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 10px;
  border: 3px solid #e5e5e5;
  border-radius: 1px;
  background-color: @white;
}
&__input--active:checked + &__label::after {
  content: "";
  width: 31px;
  height: 24px;
  position: absolute;
  top: -12px;
  left: -16px;
  transform: translate(50%, 50%);
  background-repeat: no-repeat;
  background-size: contain;
}
}
