.contest-page {
  // padding-bottom: 40px;
  .font-mixin(24px; @content-font; 24px; normal);
  color: @white;
  display: flex;
  width: 100%;
  height: 167px;

  @media (min-width: @tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 52%;
  }
}

.contest-page__text {
  font-size: 24px;
  text-shadow: -3px 2px 5px #000000;
  text-align: center;
  margin-top: 36px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 83px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
  }
}
