.controls {
  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.controls--crop {
  position: absolute;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.controls--fill,
.controls--contrast {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.image-editor__tools--fill {
  position: absolute;
}

.image-editor__icon-crop {
  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.range-controls__separate {
  position: absolute;

  @media (min-width: @tablet-width) {
    margin-left: 45px;
    color: #dddfe0;
    opacity: 0.3;
    position: static;

    @media (min-width: @desktop-width) {
      width: 415px;
      margin-left: 85px;
      margin-top: 26px;
    }
  }
}
