.controls {

  @media (min-width: @tablet-width) {
  padding-bottom: 33px;
}
   @media (min-width: @desktop-width) {
    padding-bottom: 36px;
  }
}

.controls--fill,
.controls--contrast {
   display: none;

  @media(min-width: @tablet-width) {
    display: block;
  }

  @media(min-width: @desktop-width)  {
    display: block;
  }
}
