.editor-block {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-top: 46px;
    padding-bottom: 0;
  }
}

.editor-block__button,
.editor-block__button--disable {
  display: block;
  width: 100%;
  padding-left: 20px;
  text-decoration: none;

  .font-mixin(18px; @header-font; 18px; bold);
  color: #d22856;
  border: 3px solid #d22856;
  text-align: center;
  margin-left: 0;
  padding-top: 16px;
  margin-top: 12px;
  padding-right: 14px;
  border-radius: 25px;
  padding-bottom: 16px;
}

.image-editor {
  width: 100%;
  padding-bottom: 34px;
}

.image-editor__image-block {
  padding-left: 20px;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 394px;
    overflow: hidden;
    position: relative;
    padding-left: 0;
    padding-top: 0;
  }
}

.image-editor__tools {
  padding-top: 0;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.editor-block__button {
  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 22px;
    width: 259px;
    padding-right: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 182px;
    margin-right: 44px;
    padding-right: 19px;
  }
}

.editor-block__button--submit {
  background-color: @white;

  &:hover {
    background-color: #d22856;
    color: @white;
  }

  &:active {
    background-color: #d22856;
    color: rgba(255, 255, 255, .3);
  }
}

.editor-block__button--disable {
  background: transparent;
  color: #e3e3e4;
  border: 3px solid #e3e3e4;

  &:hover {
    border-color: #b5b9be;
    color: #b5b9be;

    &:active {
      background-color: #b5b9be;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
