.features-items {
  position: relative;
  z-index: 1;
  font-family: @header-font;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  margin-left: 0px;
  padding: 0;
  flex-direction:column;
  margin-top: 42px;
  padding-bottom: 303px;
  &__wrapper {
  display: flex;
  flex-direction:column;
  padding-top: 56px;
  }
  &__block {
    position: relative;
    z-index: 3;
    flex-grow:1;
    flex-grow:1;
    margin-bottom: -19px;
    margin-left: 23px;
    width: 259px;

  }
  &__title {
    padding-top:18px;
    padding-left: 26px;
    .font-mixin(10px;@font-size:18px; @font-weight:bold);
    text-align: center;
    display: block;
  }
}
.features-items__descr {
  .font-mixin(24px;@font-size:14px; @font-weight:normal);
  display:block;
  text-align: center;
  width: 268px;
}


