.features-items {
  position: relative;
  z-index: 1;
  font-family: @header-font;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  margin-left: 0px;
  padding: 0;
  flex-direction:column;
  margin-top: 42px;
  padding-bottom: 303px;
  &__wrapper {
  display: flex;
  flex-direction:column;
  padding-top: 56px;
  }
  &__block {
    position: relative;
    z-index: 3;
    flex-grow:1;
    margin-bottom: 2px;
    margin-left: 60px;
    flex-grow:1;

  }
  &__title {
    padding-top:12px;
    .font-mixin(10px;@font-size:18px; @font-weight:bold);
  }
}
.features-items__descr {
  .font-mixin(24px;@font-size:14px; @font-weight:normal);
}


