.features {
  background-color: @white;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 320px;
  padding: 0;
}

.features__title {
  margin: 0 auto;
  padding-top: 43px;
  width: 237px;
  text-align: center;

  .font-mixin(24px;@content-font;24px;normal);
}
