.form-describe {

  .font-mixin(30px; @header-font; 14px; normal);
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding-bottom: 75px;

  @media (min-width: @tablet-width) {
    order: 5;
    padding-bottom: 10px;
  }
}

.form-describe__text {

  .font-mixin(30px; @header-font; 14px; normal);
  margin-top: 37px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    text-align: center;
    margin-top: -14px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    background: @white;
    width: 44%;
  }

  @media (min-width: @desktop-width) {
    width: 31%;
    margin-top: -19px;
  }
}

.form-describe__small-notice {
  position: static;
  order: 2;

  .font-mixin(30px; @content-font; 14px; normal);
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
    margin-left: 142px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form-describe__small-notice span {
  color: #d22856;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.form-describe__small-notice--only-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;

    .font-mixin(30px; @content-font; 14px; normal);
    color: #000000;
    position: static;
    order: 2;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 23px;
  }
}

.form-describe__small-notice--only-desktop span {
  color: #d22856;
}

.form-describe__button-submit {
  margin-bottom: 34px;
  margin-left: 22px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  border: 1px solid #000000;
  position: static;
  background-color: #2aab6d;
  width: 87%;
  height: auto;
  cursor: pointer;
  order: 1;

  .font-mixin(30px; @content-font; 18px; bold);
  text-transform: uppercase;
  color: @white;

  &:hover {
    background-color: #1c9b5e;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    //box-shadow: 1px 2px 17px 3px #000000;
  }

  @media (min-width: @tablet-width) {
    width: 46%;
    font-size: 18px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 31%;
    height: 66px;
    font-size: 18px;
    margin-left: 10px;
  }
}

.form-section__text-area {
  width: 88%;
  margin-left: 20px;
  .font-mixin(30px; @header-font; 18px; normal);
  height: 190px;
  text-align: left;
  padding-left: 1px;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-left: auto;
    margin-right: 61px;
    width: 74%;
  }
}
