.page-header {
  width: 320px;
  position: relative;
  display: flex;
  width: @header-width;
  flex:1;
  justify-content: space-between;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  padding-bottom: 52px;
  background-position: -190px -16px;
  background-repeat: no-repeat;
  }

