.page-header {
  width: 320px;
  position: relative;
  display: flex;
  min-width: @header-width;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: -190px 0;
  background-repeat: no-repeat;
  }

