.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: -190px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
