.image-editor__image-block {
  padding: 0;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    background-color: aqua;
    width: 300px;
    height: 400px;
    margin-top: 22px;

    @media (min-width: @desktop-width) {
      margin-left: 72px;
      margin-top: 13px;
    }
  }
}

.image-editor {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.image-editor__tools-list {
  margin-top: 46px;
  margin-bottom: 70px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .image-editor__tools--item {
    margin-right: 14px;
    margin-left: 19px;
    fill: #b5b9be;
    &:hover {
      fill: #8d949b;
    }
    &:active {
      fill: #d22856;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.image-editor__tools--contrast,
.image-editor__tools--fill {
  display: block;
}

.controls--contrast,
.controls--fill {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.image-editor__tools {
  display: inline-block;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-bottom: 0;
  }
}

