.image-editor__image-block {
  padding: 0;
  margin-top: 21px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
    margin-top: 54px;

    @media (min-width: @desktop-width) {
      margin-left: 72px;
      margin-top: 59px;
    }

  }
}

.image-editor {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.image-editor__tools-list {
  margin-top: 36px;
  margin-bottom: 70px;
  text-align: center;
  margin-bottom: 109px;

  @media (min-width: @tablet-width) {
    margin-top: 52px;
    margin-bottom: 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
  }

  .image-editor__tools--item {
    margin-right: 21px;
    margin-left: 5px;
    fill: #b5b9be;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      fill: #8d949b;
    }
    &:active {
      fill: #d22856;
    }

    @media (min-width: @tablet-width) {
      display: block;
      margin-left: 46px;
      margin-right: 14px;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  .image-editor__tools--contrast,
  .image-editor__tools--fill {
    display: block;
    position: static;

    @media (min-width: @tablet-width) {
      position: absolute;
    }
  }

  .controls--contrast,
  .controls--fill {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  .image-editor__tools {
    display: inline-block;

    @media (min-width: @tablet-width) {
      position: relative;
      margin: 0 auto;
      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      padding-top: 26px;
    }
  }
}

.image-editor__icon-crop,
.image-editor__icon-fill {
  width: 50px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 27px;
    height: 45px;
    position: absolute;
    left: 45px;
    top: -17px;
  }
  @media (min-width: @desktop-width) {
    width: 50px;
    height: 45px;
  }
}

.image-editor__icon-contrast {
  width: 33px;
  height: 33px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 18px;
    top: -8px;
    left: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 33px;
    top: 9px;
    left: 92px;
  }
}

.image-editor__icon-crop {

  @media (min-width: @tablet-width) {
    position: absolute;

    @media (min-width: @desktop-width) {
      left: 83px;
      top: 10px;
    }
  }
}

.image-editor__icon-fill {

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -15px;
    left: 46px;

    @media (min-width: @desktop-width) {
      left: 84px;
      top: 11px;
    }
  }
}
