  .input-block__form {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: unset;
    flex-direction: row;
  }
}

.input-form {
  padding-bottom: 13px;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.input-form__input-label {
  padding-left: 20px;
  text-transform: uppercase;
  color: #d22856;
  width: 75%;

  .font-mixin(30px; @header-font; 14px; normal);
  display: block;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: auto;
    padding-top: 20px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width: auto;
  }
}

.input-form__input {
  padding-left: 39px;

  .font-mixin(30px; @header-font; 18px; normal);
  padding-bottom: 32px;
  margin-top: 4px;
  margin-left: 3px;
  width: 76%;
  padding-right: 22px;
  border: 1px solid #e5e5e5;

  &:hover {
    border-color: #000000;
    text-shadow: none;
    box-shadow: none;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
    text-shadow: none;
    box-shadow: none;
  }

  @media (min-width: @tablet-width) {
    width: 540px;
    padding-left: 0;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 22px;
    padding-right: 18px;
    width: 317px;
    height: 63px;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}

.input-form__input-label--short_letters {
  @media (min-width: @desktop-width) {
    width: 364px;
  }
}
