.label-block {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 378px;
    padding-bottom: 18px;
  }
}

.label-block--mail {
  @media (min-width: @desktop-width) {
    // margin: 0;
    // height: 0;
    // padding:0;
    // width: 0;
    margin-top: 30px;
  }
}

.label-block--phone {
  @media (min-width: @desktop-width) {
    // margin: 0;
    // height: 0;
    // padding:0;
    // width: 0;
  }
}
