.label-block {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 378px;
    padding-bottom: 5px;
    padding-left: 0;
  }
}

.label-block--mail {
  @media (min-width: @desktop-width) {
    // margin: 0;
    // height: 0;
    // padding:0;
    // width: 0;
  }
}

.label-block--phone {
  @media (min-width: @desktop-width) {
    // margin: 0;
    // height: 0;
    // padding:0;
    // width: 0;
  }
}
