.main-nav {
  align-items: flex-start;
  position: absolute;
  top: 33px;
  left: 1px;
  width: 100%;
  background-color: @nav-menu-background;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  display: none;
}

.main-nav__items {
  padding: 13px;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  border: 1px solid #000000;
}

.main-nav .site-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0 auto;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
