.os-nav.os-list {
    display: flex;
    justify-content: space-around;
    width: 77%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 108px;
}
.os-nav__item {
    flex-grow:1;
  }

.os-nav__title {
    display: block;

    .font-mixin(24px; @content-font; 14px; normal);
    text-shadow:-3px -1px 15px #000000;
    width: 91%;
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
  }
