.os-nav.os-list {
  display: flex;
  justify-content: space-around;
  min-width: 280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 108px;
}
.os-nav {
  &__item {
    flex-grow:1;
  }
  &__title {
    display: block;
    .font-mixin(24px; @content-font; 14px; normal);
    text-shadow:-3px -1px 15px #000000;
    width: 238px;
    margin-left: 43px;
    margin-top: 70px;
    text-align: center;
  }
}
