.page-shown-footer {
  width: 100%;
  text-align: center;
}

.page-shown-footer__copyright-text {

  .font-mixin(18px;@content-font;14px;normal);
  width: 89%;
  padding-top: 44px;
}

.social__list {
  list-style-type: none;
}
