.price-block {
min-width:320px;
background-color: @white;
}

.price-block__header--visually_hidden {
  display:none;
}
.price-table__header--visually_hidden {
  display:none;
}
.traffic-table {
  margin: 0 auto;
  border-collapse: collapse;
  border:1px solid #000000;
  tr {
    border:1px solid #000000;
  }
}
.price-table {
  padding-top: 200px;
}
