.promo-download {
  background-color: #1d2631;

  .font-mixin(24px; "Open Sans Light"; 14px; normal);
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  padding-bottom: 0;
  @media (min-width: @desktop-width) {
    background: none;
    padding-bottom: 9px;
  }

  @media (min-width: @tablet-width) {
    background: none;
    padding-bottom: 9px;
  }
}

.promo-download__button {
  font-weight: bold;
  width: 79%;
  height: 33px;
  padding: 7px;
  top: 33px;
  left: 19px;
  position: absolute;
  border: 3px solid @white;
  border-radius: 34px;
  text-align: center;
  cursor: pointer;
  padding-left: 14px;

  @media (min-width: @tablet-width) {
    width: 41%;
    padding-left: 19px;
    left: 24px;
    top: -112px;
  }

  @media (min-width: @desktop-width) {
    background: none;
    width: auto;
    left: 112px;
    top: -38px;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 39px;
    padding-top: 6px;
    padding-right: 40px;
  }

  a {
    text-decoration: none;
    color: #ffffff;

    .font-mixin(18px; @font-size:18px; @font-weight:bold);
    display: block;
    margin-top: 9px;
    letter-spacing: 1px;
  }
    @media (min-width: @desktop-width) {
    font-size: 50px;
    font-family: @content-font;
    margin-left: 18px;
    }
}

.promo-download__links {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;

    @media (min-width: @desktop-width) {
    max-width: 548px;
    width: auto;
    }
}
