.promo-section {
  width: 100%;
  padding-bottom: 198px;
  display: flex;
  position: relative;

  .wrapper {
    margin: 0 auto;
  }
}

.index {
  min-height: 391px;
  padding-bottom: 0;
}

.promo-section::before {
  content: " ";
  background-image: url('../img/iphone-hand-mobile@1x.png');
  position: absolute;
  width: 262px;
  height: 308px;
  top: 112px;
  background-repeat: no-repeat;
}
