.promo-download {
  background-color: #1d2631;
  .font-mixin(24px; "Open Sans Light"; 14px; normal);
  display:flex;
  flex-direction: column;
  position:relative;
  color: #ffffff;
  padding-bottom: 9px;
  &__button {
  font-weight:bold;
  width: 255px;
  left:26px;
  height: 33px;
  padding: 7px;
  top: 33px;
  left: 19px;
  position:absolute;
  border: 3px solid @white;
  border-radius: 34px;
  text-align: center;
  cursor: pointer;
  padding-left: 14px;
  a {
  text-decoration: none;
  color: #ffffff;
  .font-mixin(18px; @font-size:18px; @font-weight:bold);
  display: block;
  margin-top: 9px;
  letter-spacing: 1px;
}
}
&__links {
  display: flex;
  flex-direction:column;
  align-content:center;
  width: auto;
}
}
