.radio-buttons-group {
  padding-left: 20px;

  @media (min-width: @desktop-width) {
    padding-left: 77px;
    padding-bottom: 39px;
  }
}

.radio-buttons-group__label {
  position: relative;
  margin-bottom: 11px;
  cursor: pointer;
  padding-bottom: 10px;
  width: 80%;
  padding-left: 57px;
  transition: all 0.25s linear;
  display: block;
  overflow: hidden;

  .font-mixin(30px; @header-font; 18px; normal);

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 1px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 9px;
    border: 3px solid #e5e5e5;
    border-radius: 100%;
    background-color: @white;
  }
}

.radio-button-group__input {
  display: none;
  position: relative;
}

.radio-buttons-group__check::before {
  content: " ";
  border-radius: 100%;
  top: 10px;
  left: 10px;
  margin: auto;
  background: green;
}

.radio-button-group__input:checked + .radio-buttons-group__label::after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 1px;
  left: 2px;
  transform: translate(50%, 50%);
  //background: (lighten(#d22856, 10%));
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
}
