@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
  url("../fonts/opensans.woff");
}
@font-face {
  font-family: "Open Sans Light";
  src:local("Open Sans Light"),
  url("../fonts/opensanslight.woff");
}
@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"),
  url("../fonts/opensansbold.woff");
}
.visually_hidden {
  display: none;
}
.container {
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}
@import "variables";
@import "body";
@import "mixins";
@import "header";
@import "main-nav";
@import "promo-section";
@import "promo-download";
@import "os-nav";
@import "features-header";
@import "features-items";
@import "reviews.less";
@import "price-block";
@import "footer";
@import "menu-header";
