.user-contacts {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 63px;
}

.user-contacts__label {
  width: 90%;
  padding-left: 20px;
}

.user-contacts__input {
  width: 95%;
  text-align: left;

  .font-mixin(30px;@header-font;18px;normal);
  height: 53px;
  width: 89%;
  padding-bottom: 0px;
  padding-left: 20px;
}
